.canvasStats {
    position: fixed;
    background-color: black;
    color: white;
    bottom: 10px;
    left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}
.canvasStats.visible {
    opacity: 1;
}